body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../content/images/blur-background.png');
}

canvas {
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid black;
}