body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../content/images/blur-background.png');
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}