body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../content/images/map-main-background/background-blur-full-hd.jpg');
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}