html, body
{
	text-align: center;
	height: 100%;
	overflow: hidden;

	background: url('../content/images/menu-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.svg-wrapper{
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;	
}

.svg-wrapper:hover .shape{
    stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}

.shape {
    stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #98FB98;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}   
	
.play-btn, .play-btn:visited {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
    font-weight: 600;
	top: -48px;
	position: relative;
}